<?xml version="1.0" ?>
<robot name="crazyflie" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="base_footprint"/>

    <link name="base_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.027"/>
            <inertia ixx="2.3951e-5" ixy="0.0" ixz="0.0" iyy="2.3951e-5" iyz="0.0" izz="3.2347e-5"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://crazyflie_description/meshes/crazyflie_full.dae" scale="1.0 1.0 1.0"/>   
            </geometry> 
            <material name="gray">
                <color rgba="0.6 0.6 0.6 1.0"/>
            </material>                                       
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://crazyflie_description/meshes/crazyflie_full.dae" scale="1.0 1.0 1.0"/>
            </geometry>
        </collision>
    </link>

    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_footprint"/>
        <child link="base_link"/>
    </joint>
</robot>